:root {
  --background-color: #05000b;
  --text-color-muted: #564d63;
  --text-color: #fff;

  --primary-color: #7900f8;
  --primary-muted-color: #b68feb;
  --button-disabled-color: #302937;
  --button-blur: #3e0081;
  --button-focus: #7900f8;
  --button-outline: #300360;
}
.custom-shape-divider-top-1721110650 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background-image: url("./assets/wavesOpacity.svg");
}

#fab-container {
  position: fixed;
  bottom: 20px;
}

#custom-fab {
  background: var(--button-blur);
  color: var(--text-color);
}

#custom-fab:hover {
  background: var(--button-focus);
  color: var(--text-color);
}

#header-container {
  color: white;
  min-height: 30vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: all 1s ease;
  font-weight: 400;
}

#outline-button {
  border: 1px solid #7900f8;
  color: #7900f8;
}

#outline-button:hover {
  background: #7900f8;
  border: 1px solid #7900f8;
  color: white;
}

#background-blob {
  background-image: url("./assets/wave.svg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  position: absolute;
  background-position: center;
}

#main-app-container {
  display: flex;
  justify-content: center;
  min-width: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}
#main-app-container > * {
  z-index: 1;
}
#app-heading {
  font-size: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  z-index: 1;
  font-family: "Playwrite CU", sans-serif;
}

#sound-toggle-button {
  background: var(--primary-muted-color);
  border: 1px solid var(--button-outline);
  border-radius: 15px;
  padding: 15px;
  transition: all 0.25s ease-in;
}

#sound-toggle-button[aria-pressed="true"] {
  background: var(--primary-muted-color);
  border: 1px solid var(--button-outline);
  box-shadow: rgba(146, 46, 240, 0.4) -5px 5px,
    rgba(159, 46, 240, 0.3) -10px 10px, rgba(127, 46, 240, 0.2) -15px 15px,
    rgba(162, 46, 240, 0.1) -20px 20px, rgba(156, 46, 240, 0.05) -25px 25px;
}

.modal-Stack {
  background: #05000b;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
}

.modal-Stack Button {
  width: 200px;
  padding: 10px 10px;
  margin-bottom: 10px;
  background: #05000b;
  border: 1px solid #7900f8;
  color: #7900f8;
}

.modal-Stack Button:hover {
  background: #7900f8;
  border: 1px solid #7900f8;
  color: white;
}

.close-modal {
  margin: 10px;
  color: #7900f8;
  cursor: pointer;
}

.modal-time-grid {
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}
